.car-history {
    padding-top: 4rem;
    padding-bottom: 2rem;

    &__general-info {
        margin-top: 1rem;
    }

    &__toggle {
        margin-top: 2rem;
    }
}

@include media-575 {
    .car-history {
        &__heading {
            flex-direction: column;
        }

        &__heading-links {
            margin-top: 2rem;
        }
    }
}