// General colors
$bg--general: #ffffff;
$bg--secondary: #F5F5F5;
$bg--accent: #0077C6;

$text--pitchDark: #000000;
$text--primaryAccent: #0077C6;
$text--secondaryAccent: #27AE60;
$text--general: #272727;
$text--light: #fff;
$text--secondary: #444;
$text--accentGreen: #AFB224;

// Transition
$transition--general: .3s ease-in-out;

// Fonts
$font--general: 'Gilroy', sans-serif;