.footer {
    padding: 2rem 0;
    background: $bg--secondary;

    &__container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__left-side {
        flex-basis: 495px;
    }

    &__content {
        margin-top: 4rem;
        font-size: 1.2rem;
    }

    &__link-item {
        font-size: 1.2rem;

        &:first-child {
            margin-right: 1.5rem;
        }

        &:last-child {
            margin-left: 1.5rem;
        }
    }
}

@include media-767 {
    .footer {
        &__container {
            display: block;
        }

        &__content {
            margin-top: 2rem;
        }
    }
}