.chat {
    width: 27rem;
    height: 38rem;
    background: $bg--general;
    border-radius: .6rem;
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.14);
    opacity: 0;
    visibility: hidden;
    transition: $transition--general;

    &__header {
        position: relative;
        width: 100%;
    }

    &__inner {
        height: calc(100% - 6.2rem);
        overflow-y: auto;
    }

    &__body {
        height: calc(100% - 5rem);
    }

    &__message-field-block {
        position: relative;
        height: 5rem;
    }
}

.chat--active {
    opacity: 1;
    visibility: visible;
}