.logo-and-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        margin-right: 5rem;
        width: 17rem;
    }

    &__nav {
        margin-left: 5rem;
    }
}

@include media-991 {
    .logo-and-nav {
        &__nav {
            margin-left: 1rem;
        }
    }
}

@include media-767 {
    .logo-and-nav {
        &__logo {
            width: 11rem;
        }

        &__nav {
            display: none;
        }
    }
}