.plan-label {
    overflow: hidden;

    &__color-line {
        position: absolute;
        top: 2.4rem;
        left: -.5rem;
        width: 20.5rem;
        height: 4.4rem;
        background: #D2D2D2;
        transform: rotate(45deg);
        text-align: center;

        h4 {
            line-height: 4.4rem;
            font-weight: 500;
            font-size: 2rem;
            color: $text--light;
        }
    }
}

@include media-575 {
    .plan-label {
        
        &__color-line {
            top: 2.4rem;
            left: 0.5rem;
            height: 3rem;

            h4 {
                font-size: 1.6rem;
                line-height: 3rem;
            }
        }
    }
}