.reports-car {
    display: flex;
    align-items: center;

    &__img-side {
        margin-right: 1.5rem;
    }

    &__car-info-side {
        margin-left: 1.5rem;
    }

    // Car picture
    &__picture {
        display: block;
        width: 157px;
        height: 88px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    // End car picture

    // List
    &__info-list {
        font-weight: 600;
        line-height: 1.7rem;
        text-transform: uppercase;
    }

    &__info-item:not(:first-child) {
        margin-top: 1rem;
    }

    &__info-title, &__info-val {
        display: inline-block;
    }

    &__info-title {
        color: $text--primaryAccent;
    }

    &__info-val {
        margin-left: 1rem;
    }
    // End list
}

@include media-575 {
    .reports-car {
        flex-direction: column;

        &__img-side {
            margin-right: 0;
        }

        &__car-info-side {
            margin-left: 0;
        }

        &__info-list {
            margin-top: 2rem;
        }

        &__info-item:not(:first-child) {
            margin-top: 0.5rem;
        }
    }
}