.search-by-year {
    justify-content: space-between;

    .custom-select-opener {
        position: relative;
        background: $bg--secondary;
        border-radius: .8rem;
        padding: 2.5rem;
        color: #8E8E8E;

        &::after {
            @include pseudo;
            @include push--middle;
            right: 1.5rem;
            width: 1rem;
            height: 1rem;
            background: 50% 50%/contain no-repeat url('/assets/svg/select-arrow-down.svg');
        }
    }

    &__selects-wr {
        width: 41rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }

    &__search-btn {
        padding: 1.5rem 4.5rem;
    }
}

@include media-767 {
    .search-by-year {
        &__selects-wr {
            width: 33rem;
        }

        .custom-select-opener {
            padding: 2.2rem;
        }
    }
}

@include media-575 {
    .search-by-year {
        &__selects-wr {
            width: 20.5rem;
            grid-gap: 0.5rem;
        }

        .custom-select-opener {
            padding: 1.7rem 1rem;

            &::after {
                right: 0.5rem;
            }
        }

        &__search-btn {
            padding: 1.5rem 1.5rem;
        }
    }
}