.sign-email {
    &__tabs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    &__tabs-content {
        margin-top: 2rem;
    }

    &__field {
        margin-top: 1.5rem;
    }

    &__privacy {
        margin-top: 2rem;
        text-align: center;
        font-size: 1.2rem;
        line-height: 140%;
        color: $text--pitchDark;

        a {
            font-weight: 500;
            color: $text--primaryAccent;
            transition: $transition--general;

            &:hover {
                color: $text--general;
            }
        }
    }
    // End privacy

    &__submit {
        margin-top: 3rem;
        display: block;
        width: 100%;
    }

    &__forgot {
        margin-top: 2rem;
        text-align: center;
        display: block;
        font-weight: 600;
    }

    &__form {
        display: none;
    }

    &__form--active {
        display: block;
    }
}