.vin {
    &__title, &__number {
        display: inline-block;
    }

    &__title {
        margin-right: 0.9rem;
        font-weight: 500;
    }

    &__number {
        font-weight: 600;
        text-transform: uppercase;
    }
}

.vin--md {
    font-size: 1.4rem;
}

.vin--centered {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.vin--title-accent {
    .vin {
        &__title {
            font-weight: 600;
            color: $text--primaryAccent;
        }
    }
}