.section-heading {
    &__title {
        font-weight: 600;
        font-size: 3.2rem;
        line-height: 3.9rem;

        span {
            color: $text--primaryAccent;
        }
    }

    &__desc {
        margin-top: 2rem;
        color: $text--secondary;
        line-height: 140%;
    }
}

.section-heading--justify-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@include media-991 {
    .section-heading {
        &__title {
            font-size: 2.6rem;
            line-height: 140%;
        }

        &__desc {
            margin-top: 1rem;

            p:not(:first-child) {
                margin: 1rem 0;
            }

            p:first-child {
                margin: 0;
            }
        }
    }
}

@include media-575 {
    .section-heading {
        &__title {
            font-size: 2.2rem;
        }
    }
}